body {
   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap'); */

* {
    margin: .3em;
    padding: 0;
    box-sizing: border-box;
}

.header {
    border-bottom: 1px solid #E2E8F0;
    margin-bottom: 2em;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.0rem;
    font-weight: 400;
    color: #475569;;
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: 500;
    color: #022125;
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner-container {
        flex-direction: column;
    }

}



.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.banner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.me-description {
    font-weight: normal;
    font-style: italic;
}

.icons {
    width: 40px;
    height: 40px;
}

.aboutMe {
    display: flex;
}

.aboutMeInfo {
    flex: 3;
}

.aboutMePhoto{
    flex: 1;
    /* display: flex; */
}

img {
    border-radius:75%;
}

img.medium {
    width: 240px;
    height: 240px;
}

img.align-rigth {
    float: right;
    padding: 1em 2em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0000008c;
}

h2 {
    color: #0b313a;
}

li {
    list-style-type: none;
}
